footer{
  /*background: var(--main-bg-color);*/
  background: #ff9204;
background: linear-gradient(180deg,#ff9204 0%, #ba7418 80%);
background: -webkit-linear-gradient(180deg,#ff9204 0%, #ba7418 80%);
background: -moz-linear-gradient(180deg,#ff9204 0%, #ba7418 80%);
  font-size: small; 
}

@media screen and (max-width: 860px) {

#logo-AP{
  text-align: center;
}

.m-0{
    text-align: center;
}

}