/*NUEVO*/

.header {
  background: var(--main-bg-color);
  height: 50px;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--------------------------------------------*/
.menu {
  font-size: 0.8rem;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 23px;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: block;
  padding: 0.25rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.menu ul li a:hover {
  background: #f36906;
}

#login {
  background: #f3d3069e;
}

.col {
  padding-bottom: 2px;
  background: var(--main-bg-color);
  justify-content: end;
}

/*--------------------*/
.redes {
  font-size: 1.5rem;
}

.redes ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 8px;
}

.redes ul li {
  display: inline-block;
}

.redes ul li a {
  display: block;
  padding: 0;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  color: black;
}

.redes ul li a:hover {
  background: #f36906;
}

/*
 * Icom 
 */
.tres-puntos i {
  display: none;
}

/***********************************
/*Por debajo de 950 px 
*/
@media screen and (max-width: 700px) {
  /*
  * Navegación
  */

  .menu {
    width: 30%;
    padding: 1em;
    margin: 0.3rem 0 0.3rem 1rem;
    /*<arr-aba> <iz-dr>
  <arr> <der> <aba> <izq>*/
    background: var(--main-bg-color-grad);
    border-radius: 5px;
  }

  .menu ul {
    padding-right: 0;
  }
  .menu ul li {
    display: none;
  }

  .menu.show ul li {
    display: block;
  }
  .menu ul li a {
    text-align: center;
  }
  .menu ul li a:hover {
    background: #f36906;
    margin-left: 5px;
  }

  .col {
    justify-content: start;
  }

  /*
  * Redes
  */

  .redes {
    font-size: 1.25rem;
    color: black;
  }

  .redes a {
    color: black;
  }

  .redes ul li a:hover {
    background: none;
  }

  /*
  *icon-Menues
 */

  .tres-puntos i {
    display: inline-block;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    /*<arr-aba> <iz-dr>
  <arr> <der> <aba> <izq>*/
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.4s linear;
    border-radius: 25px;
    background: #f36906;
  }

  .tres-puntos i:hover {
    background: #f1eeec;
  }
}
