<header class="header">
    <a id="logo-header" href="#">
        <img src="../assets/APLogo.png" alt="Argentina Programa">
    </a>

    <span class="icon-menues">
        <ul>
            <li><i class="fa-brands fa-buromobelexperte"></i></li>
            <li class="tres-puntos"><i class="fa-solid fa-ellipsis-vertical"></i></li>
        </ul>
    </span>

    <nav class="menu">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Conóceme</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Capacitación</a></li>
            <li><a href="#">Laboral</a></li>
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#"><strong>[Login]</strong></a></li>
        </ul>
    </nav>

    <nav class="redes">
        <ul>
            <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-square-github"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </nav>
</header>
