<header class="header">
  <div class="container-fluid logo-nav-container">
    <a id="logo-header" href="#">
      <img src="../assets/img/APLogo.png" alt="Argentina Programa" />
    </a>
    <nav class="redes">
      <ul>
        <li>
          <a href="https://www.instagram.com/angel_lu6dc/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-square-twitter" target="_blank"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/lu6dc" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        </li>
        <li>
          <a href="https://github.com/Angels9753" target="_blank"><i class="fa-brands fa-square-github"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/angel-sapienza/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li class="tres-puntos">
          <i class="fa-solid fa-ellipsis-vertical" (click)="click3puntos()"></i>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="row">
  <div class="col d-flex align-items-center">
    <nav class="menu" [ngClass]="{ show: seVe, '': !seVe }">
      <hr />
      <ul>
        <li><a (click)="click3puntos()" href="#">Inicio</a></li>
        <li><a (click)="click3puntos()" href="#conoceme">Conóceme</a></li>
        <li><a (click)="click3puntos()" href="#skills">Skills</a></li>
        <li><a (click)="click3puntos()" href="#estudios">Capacitación</a></li>
        <li><a (click)="click3puntos()" href="#experiencia">Laboral</a></li>
        <li><a (click)="click3puntos()" href="#proyectos">Proyectos</a></li>
        <li><a (click)="click3puntos()" href="#contacto">Contacto</a></li>
        <li><a (click)="login()" *ngIf="!isLogged" id="login" href="/login"><strong>Login</strong></a>
        <li><a (click)="onLogOut()" *ngIf="isLogged" id="login" href=""><strong>Logout</strong></a>  
        </li>
      </ul>
    </nav>
  </div>
</div>
