<header class="header" >
  <a id="logo-header" href="#">
    <img src="../assets/APLogo.png" alt="Argentina Programa" />
  </a>
  <span >
    <nav class="redes">
      <ul>
        <li>
          <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-square-github"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li class="tres-puntos">
          <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        </li>
      </ul>
    </nav>
    <nav class="menu ">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#conoceme">Conóceme</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#estudios">Capacitación</a></li>
        <li><a href="#experiencia">Laboral</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li>
          <a href="#"><strong>[Login]</strong></a>
        </li>
      </ul>
    </nav>
  </span>
</header>
