<section id="experiencia" class="sobre-mi">
  <div class="row">
    <div class="col-8 text-white grad">
      <h1 class="display-5 text-dark">Experiencia</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <article class="card h-100">
            <div class="card-body">
              <div class="d-flex">
                 <i class="pt-3 fa-solid fa-gear fa-2xl"></i>
                <div class="ps-3">
                  <h6>Tintorería Industrial Corbella SRL</h6>
                  <p>Sub Jefe de Laboratorio de I&D</p>
                  <p class="small fw-light">Desarrollo de nuevos colores para la industria textil.</p>
                  <div class="card-footer text-muted">1981-1984</div>
                </div>
              </div>
            </div>
          </article>
        </div>


        <div class="col">
          <article class="card h-100">
            <div class="card-body">
              <div class="d-flex">
                <i class="pt-3 fa-solid fa-radio fa-2xl"></i>
                <div class="ps-3">
                  <h6>Componentes Electrónicos Sapienza SRL</h6>
                  <p>Técnico de Laboratorio de Inductancias</p>
                  <p class="small fw-light">Diseño de componentes para la industria electrónica</p>
                  <div class="card-footer text-muted">1984-1988</div>
                </div>
              </div>
            </div>
          </article>
        </div>


        <div class="col">
          <article class="card h-100">
            <div class="card-body">
              <div class="d-flex">
                <i class="pt-3 fa-solid fa-computer fa-2xl"></i>
                <div class="ps-3">
                  <h6>Sapienza Sistemas Informáticos</h6>
                  <p>Análisis y Desarrollo Free-Lance</p>
                  <p class="small fw-light">Desarrollo de sistemas para el sector de la salud y educación</p>
                  <div class="card-footer text-muted">1985-1988</div>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="col">
          <article class="card h-100">
            <div class="card-body">
              <div class="d-flex">
                <i class="pt-3 fa-solid fa-tower-cell fa-2xl"></i>
                <div class="ps-3">
                  <h6>Universidad de Morón</h6>
                  <p>Analista Trainee</p>
                  <p class="small fw-light">
                    Proyecto de investigacion de radio enlaces a nivel nacional en la empresa DatoCom SRL.
                  </p>
                  <div class="card-footer text-muted">1990-1990</div>
                </div>
              </div>
            </div>
          </article>
        </div>



        <div class="col">
            <article class="card h-100">
              <div class="card-body">
                <div class="d-flex">
                    <i class="pt-3 fa-solid fa-computer fa-2xl"></i>
                  <div class="ps-3">
                    <h6>A&R SRL Consultora Informática de Empresas</h6>
                    <p>Analista de Sistemas Free Lance</p>
                    <p class="small fw-light">Desarrollo de sistemas para el sector de la salud y logística</p>
                    <div class="card-footer text-muted">1990-1992</div>
                  </div>
                </div>
              </div>
            </article>
          </div>
  
  
          <div class="col">
            <article class="card h-100">
              <div class="card-body">
                <div class="d-flex">
                  <i class="pt-3 fa fa-solid fa-computer fa-2xl"></i>
                  <div class="ps-3">
                    <h6>Universidad Nacional de la Matanza</h6>
                    <p>Director Centro de Cómputos</p>
                    <p class="small fw-light">Diseño y gerenciamiento de la gestión educativa de 15.000 alumnos y 1.000 docentes</p>
                    <div class="card-footer text-muted">1992-1999</div>
                  </div>
                </div>
              </div>
            </article>
          </div>
  
  
          <div class="col">
            <article class="card h-100">
              <div class="card-body">
                <div class="d-flex">
                  <i class="pt-3 fa fa-briefcase fa-2xl"></i>
                  <div class="ps-3">
                    <h6>Universidad Nacional de la Matanza</h6>
                    <p>Pro-Secretario de Informática y Comunicaciones</p>
                    <p class="small fw-light">Gerenciamiento de todo el sector informático, tanto administrativo como educativo</p>
                    <div class="card-footer text-muted">1999-2000</div>
                  </div>
                </div>
              </div>
            </article>
          </div>
  
          <div class="col">
            <article class="card h-100">
              <div class="card-body">
                <div class="d-flex">
                  <i class="pt-3 fa-solid fa-computer fa-2xl"></i>
                  <div class="ps-3">
                    <h6>Sapienza Sistemas Informáticos</h6>
                    <p>Análisis y Desarrollo Free-Lance</p>
                    <p class="small fw-light">Desarrollo de sistemas para el sector comercial minorista y logística</p>
                    <div class="card-footer text-muted">2001-2010</div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="col">
            <article class="card h-100">
              <div class="card-body">
                <div class="d-flex">
                  <i class="pt-3 fa fa-briefcase fa-2xl"></i>
                  <div class="ps-3">
                    <h6>Institucion Salesiana de Ramos Mejía</h6>
                    <p>Gerente de Sistemas y RR.HH.</p>
                    <p class="small fw-light">Gerenciamiento de todo el sector informático, tanto administrativo como educativo. Además de Gerenciar la oficina de Personal.</p>
                    <div class="card-footer text-muted">1989-2021</div>
                  </div>
                </div>
              </div>
            </article>
          </div>
  
        


      </div>
    </div>
    <div
      class="col-4 foto-quieta"
      style="background-image: url(../../../assets/oficina-compu.jpg)"
    >
      <!--background foto aula-->
      <i class="fa fa-briefcase icom-grande-izq"></i>
    </div>
  </div>
</section>
