<section id="experiencia" class="sobre-mi">
  <div class="row">
    <div class="col-8 text-white grad">
      <h1 class="display-5 text-dark">Experiencia</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let experiencia of ExperienciaList">
          <article class="card h-100">
            <div class="card-body">
              <div class="d-flex">
                <i 
                [class]="experiencia.icono"
                class="pt-3 fa-2xl"></i>
                <div class="ps-3">
                  <h6>{{ experiencia.empresa }}</h6>
                  <p>{{ experiencia.cargo }}</p>
                  <p class="small fw-light">{{ experiencia.descripcion }}</p>
                  <div class="card-footer text-muted">
                    {{ experiencia.desdehasta }}
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div
      class="col-4 foto-quieta"
      style="background-image: url(../../../assets/oficina-compu.jpg)"
    >
      <!--background foto aula-->
      <i class="fa fa-briefcase icom-grande-izq"></i>
    </div>
  </div>
</section>
