<body >
    <section class="vh-100 gradient-custom" >
      <app-logo-ap></app-logo-ap>
      <div class="container py-5 h-100"  *ngIf="estCur" >
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-11">
            <div class="card text-white" style="border-radius: 1rem;background: var(--main-bg-color-edit)">
              <div class="d-flex justify-content-end" >
                <i class="cursor-pointer p-4 fa-solid fa-xmark fa-xl" (click)="goHome()"></i>
              </div>
               <div class="card-body p-5 text-center">
                <div >
                  <h2 class="fw-bold mb-2 text-uppercase">Editar Estudio</h2>
                  <p class="text-white-50 mb-5">
                    Por favor, ingresar la información adecuada.
                  </p>
                  <form
                    class="form-floating"
                    (ngSubmit)="onUpdate()"
                    novalidate
                    #f="ngForm"
                  >
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="institucionEs"
                        name="institucionEs"
                        [(ngModel)]="estCur.institucionEs"
                        required
                      />
                      <label for="institucionEs">Nombre de la Institución</label>
                    </div>
                    <br />
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="tituloEs"
                        name="tituloEs"
                        [(ngModel)]="estCur.tituloEs"
                        required
                      />
                      <label for="tituloEs">Título obtenido</label>
                    </div>
                    <br />
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="desdeHastaEs"
                        name="desdeHastaEs"
                        [(ngModel)]="estCur.desdeHastaEs"
                        required
                      />
                      <label for="desdeHastaEs">Período (AAAA-AAAA)</label>
                    </div>
                    <br />
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="urlLogoEs"
                        name="urlLogoEs"
                        [(ngModel)]="estCur.urlLogoEs"
                        required
                      />
                      <label for="urlLogoEs">URL del Logo de la Institución</label>
                    </div>
                    <br />
                    <button class="btn btn-primary">Actualizar Estudio</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </body>
  
