<section id="estudios" class="sobre-mi">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-4 foto-quieta"
        style="background-image: url(../assets/img/aula.jpg)"
      >
        <!--background foto aula-->
        <i class="fa fa-graduation-cap icom-grande"></i>
      </div>
      <div class="col-8 grad">
        <span class="d-flex justify-content-between align-items-center">
          <h1 class="display-5 text-dark flex-grow-1">Estudios</h1>
          <div
            class="edicion"
            [ngClass]="{ showBoton: isLogged, noShow: !isLogged }"
          >
            <span class="d-flex justify-content-end edicion text-dark">
                <i class="edicion nuevo fa-solid fa-file-circle-plus" routerLink="/nuevoest"></i>
            </span>
          </div>
          <a href="#"><i class="fa-solid fa-arrow-up-short-wide"></i></a>
        </span>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col" *ngFor="let estudios of estu">
            <article class="card h-100">
              <div class="card-body">
                <div class="d-flex">
                  <img
                    [src]="estudios.urlLogoEs"
                    class="rounded-circle border border-black border-3"
                    alt="..."
                  />
                  <div>
                    <h6>{{ estudios.institucionEs }}</h6>
                    <p>{{ estudios.tituloEs }}</p>
                    <div class="card-footer text-muted">
                      {{ estudios.desdeHastaEs }}
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="edicion"
                [ngClass]="{ showBoton: isLogged, noShow: !isLogged }"
              >
                <span class="d-flex justify-content-end edicion text-dark">
                  <i class="lapiz fa-solid fa-pencil fa-xs" routerLink="/editexp/{{estudios.id}}"></i>
                  <i class="tacho fa-solid fa-trash-can fa-xs" (click)="delete(estudios.id)"></i>
                </span>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
