<section id="conoceme" class="sobre-mi">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-4 foto-movi"
        style="background-image: url(../../../assets/um.png)"
      >
        <!--background foto UniMoron-->
        <i class="fa-solid fa-users icom-grande"></i>
      </div>
      <div class="col-8 grad">
        <span class="d-flex justify-content-between align-items-center">
          <h1 class="display-5 text-dark flex-grow-1">Conóceme</h1>
          <app-iconos-edicion></app-iconos-edicion>
          <a href="#"><i class="fa-solid fa-arrow-up-short-wide"></i></a>
        </span>
        <div class="col">
          <article class="card h-100">
            <div class="card-body">
              <p style="text-align: justify">
                Mi Nombre es
                <strong>{{ miPorfolio.usuario[0].nombre }}.</strong>
              </p>
              <p style="text-align: justify">
                {{ miPorfolio.usuario[0].descripcion }}
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
