<section id="conoceme" class="sobre-mi">
  <div class="row">
    <div
      class="col-4 foto-movi"
      style="background-image: url(../../../assets/um.png)"
    >
      <!--background foto UniMoron-->
      <i class="fa-solid fa-users icom-grande"></i>
    </div>
    <div class="col-8 grad">
      <h1 class="display-5 text-dark">Conóceme</h1>
      <div class="col">
        <article class="card h-100">
          <div class="card-body">
            <p style="text-align: justify">
              Mi nombre es <strong>Angel "Cay" Sapienza</strong>.<br />
              He desarrollado una amplia trayectoria en el campo de las TIC.<br />
              Comencé mi carrera con trabajos Free Lance en varias instituciones
              relacionadas con la salud.<br />
              Paralelamente llevé adelante mi tarea como docente secundario,
              terciario e universitario.<br />
              Con el tiempo pude dirigir proyectos desde sus etapas primigenias,
              generando las bases sobre las cuales actualmente varias
              instituciones educativas basan sus sistemas de administración
              académica.<br />
              Con el tiempo volví al desarrollo Free Lance y a la consultoría
              informática para numerosos comercios de la zona Oeste del AMBA.<br />
              Actualmente estoy retirado de la actividad y actualizándome en las
              nuevas tecnologías.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
