.foto-movi {
  /*width: 100%;*/
  position: relative;
  opacity: 0.7;
  /*background-image: url(../../../assets/um.png);
    background-image: está en style en htlm*/
  background-size: 200%;
  animation: movimiento 10s infinite linear alternate;
}
@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
.sobre-mi {
  padding-top: 10.3em;
   background: var(--main-bg-color);
}