<section class="vh-100" style="background-color: var(--main-bg-color);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Inicio de Sesión</h3>
            <form [formGroup]="form">
            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">eMail</label>
              <input type="email" formControlName="email" 
              [ngClass]="{'is-invalid':Email?.errors && Email?.touched,'is-valid': !Email?.errors && Email?.touched}" 
               id="typeEmailX-2" class="form-control form-control-lg" />
              <div *ngIf="Email?.hasError && Email?.touched">
                <small *ngIf="Email?.hasError('required')" class="text-danger">
                  El eMail es requerido.
                </small>
                <small *ngIf="Email?.hasError('email')" class="text-danger">
                  El formato del eMail es inválido.
                </small>
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">Contraseña</label>
              <input type="password" formControlName="password" 
              [ngClass]="{'is-invalid':Password?.errors && Password?.touched,'is-valid': !Password?.errors && Password?.touched}" 
              id="typePasswordX-2" class="form-control form-control-lg" />
              <div *ngIf="Password?.hasError && Password?.touched">
                <small *ngIf="Password?.hasError('required')" class="text-danger">
                  La Contraseña es requerida.
                </small>
                <small *ngIf="Password?.hasError('minlength') || Password?.hasError('maxlength') " class="text-danger">
                  La Contraseña debe tener entre 4 y 8 caracteres alfanuméricos.
                </small>
              </div>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
              <label class="form-check-label" for="form1Example3"> Recordar password </label>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

            <hr class="my-4">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

