<section class="vh-100 gradient-custom">
  <app-logo-ap></app-logo-ap>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card text-white"
          style="border-radius: 1rem; background: var(--main-bg-color-edit)"
        >
          <div class="d-flex justify-content-end">
            <i
              class="cursor-pointer p-4 fa-solid fa-xmark fa-xl"
              (click)="goHome()"
            ></i>
          </div>
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">
                Por favor, ingresar usuario y clave
              </p>
              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <div class="form-outline form-white mb-4">
                  <input
                    type="email"
                    id="nombreUsuario"
                    name="nombreUsuario"
                    class="form-control form-control-lg"
                    [(ngModel)]="nombreUsuario"
                    required
                  />
                  <label class="form-label" for="nombreUsuario">Usuario</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control form-control-lg"
                    [(ngModel)]="password"
                    required
                  />
                  <label class="form-label" for="password">Clave</label>
                </div>
                <button
                  class="btn btn-outline-light btn-lg px-5"
                  type="submit"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  Login
                </button>
              </form>
              <div>
                <br />
                <div
                  *ngIf="isLogginFail"
                  class="alert alert-danger d-flex align-items-center"
                  role="alert"
                >
                  <i class="p-3 fa-solid fa-triangle-exclamation fa-lg"></i>
                  <div>
                    Usuario o clave Erronea.
                    <button
                      type="button"
                      (click)="goHome()"
                      class="btn btn-danger"
                    >
                      Salir
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
