.row{
    padding: 20px;
}
div{
    background-color: #04bbff;
    text-align: justify;
}
#nombre{
    font-weight: bold;
    margin-top: 30%;
    text-align: center;
}
/*Media Qwery*/
@media (min-width: 576px) {
    #foto4x4 {
       position:relative;
       border-radius: 100%;
       box-shadow: -7px 8px 20px 0px gray; 
       top: -63px;
       left: 25%;
    }
}
@media (max-width: 575px) {
    #foto4x4 {
       position:relative;
       border-radius: 100%;
       box-shadow: -7px 8px 20px 0px gray; 
       top: 40px;
       left: 32%;
    }
}
#titulo{
    text-align: center;
}
#{

}