
<div class="banner">
  <img src="../assets/banner.jpg" alt="" />
</div>
<div class="row">
  <div class="container-banner">
    <div class="col-12 text-left">
      <div class="container-nombre">
        <h1 class="display-5">{{miPorfolio.datos[0].nombre}}</h1>
        <h3>{{miPorfolio.datos[0].subtitulo}}</h3>
      </div>
    </div>
    <div class="col-12 text-center">
      <img
        class="rounded-circle border border-white border-3"
        [src]="miPorfolio.datos[0].urlfoto"
      />
    </div>
    <div class="col-12 text-center">
      <h3 class="display-5 text-warning">conóceme...</h3>
    </div>
    <div class="col-12 text-center">
      <a href="#conoceme"
        ><i
          class="fa-solid fa-angles-down fa-bounce fa-2xl"
          style="color: black"
        ></i
      ></a>
    </div>
  </div>
</div>

