<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Angel.jpg" class="img-fluid" id="foto4x4" >
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h4 id="nombre">Angel Cay Sapienza</h4>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                Acerda de mi
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolorum perspiciatis explicabo nesciunt sint at error ipsam non mollitia, cumque possimus exercitationem? Commodi, blanditiis molestias sequi nesciunt accusamus atque. Ex.
            </p>
        </span>
    </div>
</div>

