<div class="row">
  <div class="container">
    <div class="col3">
      <div class="logo">
        <img src="../assets/APLogo.png" id="logoAP" alt="">
      </div>
    </div>
    <div class="col9 d-flex justify-content-end">
      <div class="col9 d-flex align-items-center">
        <nav class="redes">
          <ul>
            <li>
              <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-square-github"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col3 d-flex align-items-center">
        <button type="button" class="btn btn-outline-light">INGRESAR</button>
      </div>
    </div>
  </div>
</div>
