/* You can add global styles to this file, and also import other style files */
:root {
  --main-bg-color: #ff9204;
  --main-bg-color-grad: #ba7418;
  --card-bg-color: rgb(248, 241, 201);
  --card-titulo: blue;
  --icon-grande-color: rgba(0, 0, 255, 0.832);
  /* original
  --main-bg-color: #04bbff;
   --main-bg-color-grad: #025877;
   --icon-grande-color: red;
  */
}

.sobre-mi {
  /*padding-top: 0em;*/
  background: var(--main-bg-color);
}

.grad {
  padding: 1rem 1rem;
  position: relative;
  background: -webkit-linear-gradient(
    bottom right,
    var(--main-bg-color-grad),
    var(--main-bg-color)
  );
}

.icom-grande {
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 8em;
  color: var(--icon-grande-color);
}

.icom-grande-izq {
  position: absolute;
  top: 6px;
  font-size: 8em;
  color: var(--icon-grande-color);
}

.card {
  color: black;
  background-color: var(--card-bg-color);
}

h6 {
  color: var(--card-titulo);
}

.foto-quieta {
  position: relative;
  opacity: 0.7;
  /*background-image: está en style en htlm*/
  background-size: 200%;
}

/*
 * Logo
 */

#logo-header img {
  width: 150px;
  padding: 0.5em;
}

.edicion {
  display: none;}

h1,.edicion.showBoton
 {
  display: inline-block;
}

.edicion.showBoton .lapiz, 
.edicion.showBoton .tacho
{
  margin-left: .5rem;
  margin-right: .5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.4s linear;
  border-radius: 25px;
  background: #f36906;
}

.edicion.showBoton .lapiz:hover,
.edicion.showBoton .tacho:hover
{
  background: #f1eeec;}

 